$color_1: var(--dark-green-1);


.dropdown {
    position: relative;
    height: 100%;
    width: fit-content;
    margin-left: auto;

    >.dropdown-toggle {
        width: fit-content;
        display: flex;
        align-items: center;
        padding: 2px 12px;
        gap: 4px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.2px;
        border-radius: 0px 8px 8px 0px;
        background-color: var(--light-green-1);
        color: var(--dark-green-1);
        height: 100%;
        border-left: 1px solid var(--light-grey-2);
        cursor: pointer;
        position: relative;
        text-transform: capitalize;

        >span {
            font-weight: 400;
            text-transform: lowercase;
        }
        >p{
            width: fit-content;
            white-space: nowrap;
        }

        >.arrow {
            height: 100%;
            border-radius: 0px 8px 8px 0px;
            display: flex;
            align-items: center;
            justify-content: center;

            >.arrow-up {
                transition: 0.3s ease-in-out;
                transform: rotate(0deg);
            }

            &.Up {
                >.arrow-up {
                    transform: rotate(180deg);
                }
            }
        }
    }

    >.dropdown-menu {
        position: absolute;
        top: 34px;
        left: 0;
        width: 151px;
        z-index: 1000;
        background-color: white;
        border-top: none;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
        list-style-type: none;
        padding: 0;
        border-radius: 8px;
        padding: 4px;

        >li {
            cursor: pointer;
            border-bottom: 1px solid #E6E6E6;
            font-size: 12px;
            transition: 0.3s ease-in-out;
            color: #333;
            text-transform: capitalize;
            padding: 8px;
            font-weight: 400;
            height: 32px;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 2px 8px;

            >.radio {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: 1px solid var(--light-grey-2);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s ease-in-out;

                >span {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: var(--light-grey);
                    transition: 0.3s ease-in-out;
                }

                &.active {
                    border: 1px solid var(--dark-green-1);

                    >span {
                        background-color: var(--dark-green-1);
                    }
                }
            }

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: var(--light-grey);

                >.radio {
                    >span {
                        background-color: white;
                    }

                    &.active {
                        border: 1px solid var(--dark-green-1);

                        >span {
                            background-color: var(--dark-green-1);
                        }
                    }
                }
            }
        }
    }
}