.category{
    height: 32px;
    width: fit-content;
    border-radius: 16px;
    padding: 0px 8px 0px 16px;
    display: flex;
    gap: 8px;
    background-color: var(--light-grey);
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    >p{
        font-size: 14px;
        color: #666;
        font-weight:600;
        font-family: "Raleway";
        text-align: left;
        transition: 0.3s ease-in-out;
        width: 100%;
        text-transform: capitalize;
    }
    >span{
        width: 24px;
        min-width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background-color: transparent;
        transition: 0.3s ease-in-out;
        color: #666;
        cursor: pointer;
        &:hover{
            background-color: white;
        }
    }

    &.active{
        background-color: var(--light-green-1);
        >p{
            color: var(--dark-green-1);
        }
        >span{
            color: var(--dark-green-1);
            &:hover{
                background-color: white;
            }
        }
    }
}