@import '../../../../assets/styles/variables.scss';

.status-badge {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.25rem 0.5rem;
  border-radius: $border-radius-round;
  font-size: 0.8rem;
  font-weight: $font-weight-medium;
  
  &.status-delivered {
    background-color: rgba(0, 180, 120, 0.1);
    color: rgb(0, 180, 120);
  }
  
  &.status-processing {
    background-color: rgba(70, 120, 255, 0.1);
    color: rgb(70, 120, 255);
  }
  
  &.status-pending {
    background-color: rgba(255, 170, 10, 0.1);
    color: rgb(255, 170, 10);
  }
} 